.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    /* background-color: aqua; */
}

/* i {
    margin-right: 10px;
} */

/* ICON list */

/* react */
/* <i class="fab fa-react"></i> */

/* JavaScript */
/* <i class="fab fa-js-square"></i> */

/* CSS */
/* <i class="fab fa-css3-alt"></i> */

/* HTML */
/* <i class="fab fa-html5"></i> */

/* Node */
/* <i class="fab fa-node-js"></i> */

/* Bootstrap */
/* <i class="fab fa-bootstrap"></i> */

/* MailChimp */
/* <i class="fab fa-mailchimp"></i> */