/*
=============== 
About
===============
*/
#about {
  background: linear-gradient(rgba(95, 63, 212, 0.5), rgba(0, 0, 0, 0.1)),
    url("../../images/holi_background.jpg") center/cover no-repeat;
}

.title {
  text-align: center;
  margin-bottom: 0.5rem;
}

/* Large size */
@media screen and (min-width: 780px) {
  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
}

@media screen and (max-width: 854px) {
  #about {
    background: linear-gradient(rgba(95, 63, 212, 0.5), rgba(0, 0, 0, 0.1)),
      url("../../images/holi_background_sm.jpg") center/cover no-repeat;
  }
}

