/* Main container for the page */
.main-content {
  margin: auto;
}

/* Center class */
.center {
  justify-content: center;
}

/* Main card positioning */
article {
  position: relative;
  top: 40px;
  margin-left: 20px;
  margin-bottom: 100px; 
}

/* Card styling */
.card-style {
  margin: 20px 20px 20px;;
  float: left;
  border-radius: 5px;
}

.notes-list {
  list-style:none;
}

.notes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}