.about-img {
    filter: grayscale(10%);
    border-radius: 100px 5px;
    flex: 2 2 40rem;
    display: grid;
    grid-template-rows: auto 1fr;
    min-width: 18rem;
    /* Glass styles */
    background: rgba(255, 255, 255, .6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  .about-img img {
    border-radius: 120px;
    max-width: 230px;
    margin: 3rem auto;
  }
  
  .nameTitle {
    text-align: center;
    margin-bottom: 2rem;
  }

  @media screen and (min-width: 780px) {
    .about-img {
      max-height: 33rem;
    }
  }

  @media screen and (max-width: 780px) {
    .about-img {
      margin-bottom: 1rem;
    }
  }