.navbar {
  font-family: 'EB Garamond', serif;
}

.bkgd-color {
  background: rgba(45, 48, 50, 1.0);  
}

.text-color {
  color: #D2D3D3;
}

nav.navbar.navbar-default {
  margin-bottom: 0;
}

/* Brand style */
span {
  padding: 5px;
  font-size: 24px;
}
